@charset "UTF-8";

table {
  width: 100%;
  font-size: 18px;
  table-layout: fixed;
}

th,td {
  border: solid 1px #000000;
  padding: 10px;
}

tr {
  text-align: center;
}

tr:nth-child(2n+1) td {
  background: #bcbcbc;
}

tr:last-child {
  border-top: 1px double rgb(255,255,255);
}

th {
  line-height: 26px;
  background: #319c4a;
}

td{
  line-height: 22px;
  background: #d5ffc7;
}